

<div class="container">
    <h1 class="text-center">Welcome to Sharp Insurance</h1>
    
</div>
<div class="container">
   <p class="text-center"><img src="~/Images/logo.png" alt="LOGO" width="700"/></p> 
</div>


<div class="container text-center">
    <p>@ViewBag.IsOpen</p>
    <p>@DateTime.Now.DayOfWeek @DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year</p>
</div>
   

















